<h1>{{title}}</h1>
<p>Authenticate</p>

<form id="form" method="GET" name="formpost" action="/get">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" class="inputfield visible" placeholder=" Enter user name">
    <br />
    <label for="token">Token:</label>
    <input type="text" id="token" name="token" class="inputfield visible" placeholder=" Paste API token">
    <br />
    <label for="storeurl">Store URL:</label>
    <input type="text" id="storeurl" name="storeurl" class="inputfield visible" placeholder=" Enter the store URL">
    <input type="submit" class="btn" value="Submit">
</form>
