<h1>{{title}}</h1>
<p>Image Backup</p>

<form id="form" method="POST" name="formpost" action="/get">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter user name">
            <br />
            <label for="token">Token:</label>
            <input type="text" id="token" name="token" placeholder="Paste API token">
            <br />
            <label for="storeurl">Store URL:</label>
            <input type="text" id="storeurl" name="storeurl" placeholder="Enter the store URL">
            <br />
            <label for="usermethod">Method:</label>
            <input type="text" id="usermethod" name="usermethod" placeholder="Method">
            <br />
            <label for="usertest">Parameters:</label>
            <input type="text" id="usertest" name="usertest" placeholder="Parameters">
            <br />

            <input type="submit" value="Submit">
</form>
<button id="getallcategories">GET all categories</button>
<button id="getallorders">GET all orders</button>
<button id="getallproducts" onclick="">GET all products</button>
<script>
    $('#getallproducts').click(function(){
        $('#usermethod').val('GET');
        $('#usertest').val('products');
    });
    $('#getallorders').click(function(){
        $('#usermethod').val('GET');
        $('#usertest').val('orders');
    });
    $('#getallcategories').click(function(){
        $('#usermethod').val('GET');
        $('#usertest').val('categories');
    });
</script>
