body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
    border: 2px #EEE solid;
    display: inline-block;
    float:left;
    padding: 4px;
    width: 48%;
    margin-bottom: 0.2%;
}