body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
    border: 2px #EEE solid;
    display: block;
    float:left;
    padding: 4px;
    width: 100%;
    margin-bottom: 0.2%;
}

.hidden {
    display:none;
}

.inputfield.visible {
    margin-bottom: 0.5%;
}
#usermethod, #usertest {
    display:none;
}